<html>
    <head>
     </head>
    <body>
    <div class="container">
      <div class="card">
        <nav class="card-body navbar navbar-expand-sm navbar-light bg-light justify-content-center">
            <nav class="navbar navbar-light bg-light">
                <a class="nav-link" routerLink="questions/Add">Add Question</a>
              </nav>
              <nav class="navbar navbar-light bg-light">
                <a class="nav-link" routerLink="list">Question List</a>                
              </nav>
          </nav>        
        </div>
    </div>
    </body>
</html>
<router-outlet></router-outlet> 